type: "MARKDOWN_NOTE"
folder: "ac8a9db237258addf866"
title: "Dec 03"
content: '''
  Dec 03
  =====
  Mỗi người đều dành một khoảng thời gian mỗi ngày làm một việc gì đó, 
  khiến mỗi người đều có 1 kỹ năng riêng, hay nói cách khác, có gì thú vị mà ta có thể học tập từ họ.
'''
tags: []
isStarred: false
createdAt: "2016-12-03T10:39:59.455Z"
updatedAt: "2016-12-03T16:01:16.282Z"
