type: "MARKDOWN_NOTE"
folder: "ac8a9db237258addf866"
title: "Dec 09"
content: '''
  Dec 09
  =================
  1. Current problem 
  Wrong distribution parameter, 
'''
tags: []
isStarred: false
createdAt: "2016-12-09T09:39:34.964Z"
updatedAt: "2016-12-09T10:11:47.794Z"
