type: "MARKDOWN_NOTE"
folder: "ae84a30012aaf944361a"
title: "Linear Algebra"
content: '''
  Linear Algebra
  ===============
  
  ## Linear dependence and span
  
  Find solution of 
  $$$
    Ax = b
  $$$
  A is matrix of $$m \\times n$$, 
  $$x \\in R^n$$
  $$b \\in R^m$$
  
  ## Eigendecomposition
  
  Eigen vector
  $$$
  Av = \\lambda v
  $$$
  
'''
tags: []
isStarred: false
createdAt: "2016-12-04T02:50:18.320Z"
updatedAt: "2016-12-04T02:59:13.106Z"
