type: "MARKDOWN_NOTE"
folder: "a3463f65b62cbd1e282c"
title: "Tmux"
content: '''
  Tmux
  ======
'''
tags: []
isStarred: false
createdAt: "2016-11-29T14:09:33.923Z"
updatedAt: "2016-11-29T14:09:40.747Z"
