type: "MARKDOWN_NOTE"
folder: "ae84a30012aaf944361a"
title: "Inception Net Research"
content: '''
  Inception Net Research
  ======================
  
  ## Papers
  **Inception v1** : Going Deeper with Convolutions 
  https://www.cs.unc.edu/~wliu/papers/GoogLeNet.pdf
  
  > This raises the question of whether there is any hope for
  > a next, intermediate step: an architecture that makes use
  > of filter-level sparsity, as suggested by the theory, but exploits
  > our current hardware by utilizing computations on
  > dense matrices. The vast literature on sparse matrix computations
  > (e.g. [3]) suggests that clustering sparse matrices
  > into relatively dense submatrices tends to give competitive
  > performance for sparse matrix multiplication. It does not
  > seem far-fetched to think that similar methods would be utilized
  > for the automated construction of non-uniform deeplearning
  > architectures in the near future.
  
  **Inception v2** : Batch Normalization: Accelerating Deep Network Training by Reducing Internal Covariate Shift
  https://arxiv.org/abs/1502.03167
  
  **Inception v3** Rethinking the Inception Architecture for Computer Vision
  https://arxiv.org/pdf/1512.00567v3.pdf
  
  Inception-v4, Inception-ResNet and the Impact of Residual Connections on Learning
  https://arxiv.org/pdf/1602.07261v2.pdf
  
  An Analysis of Deep Neural Network Models for Practical Applications:
  https://arxiv.org/abs/1605.07678
  
  ## Blogs
  Pseudofound
  https://pseudoprofound.wordpress.com/
  
  Eugenio Culurciello's blog:
  https://culurciello.github.io/
  
  Neural Network Architectures :
  https://culurciello.github.io/tech/2016/06/04/nets.html 
  
  Andrej Karpathy blog:
  http://karpathy.github.io/
  
  Machine Learning is Fun!:
  https://medium.com/@ageitgey/machine-learning-is-fun-80ea3ec3c471#.ylus0vj7e
  
  A Return to Machine Learning
  https://medium.com/@kcimc/a-return-to-machine-learning-2de3728558eb#.a7qsu0tec
'''
tags: []
isStarred: false
createdAt: "2016-12-02T10:55:41.053Z"
updatedAt: "2016-12-04T05:26:08.335Z"
