type: "MARKDOWN_NOTE"
folder: "777e049f3309e8c5d8d0"
title: "New word 05.12"
content: '''
  New word 05.12
  ======
  ## English
  **requirement** : */rɪˈkwʌɪəm(ə)nt/*
  **performance** : */pə'fɔ:m(ə)ns/*
  **manager** : */'manɪdʒə/*
'''
tags: []
isStarred: false
createdAt: "2016-12-05T10:38:49.060Z"
updatedAt: "2016-12-06T14:22:42.407Z"
