type: "MARKDOWN_NOTE"
folder: "ae84a30012aaf944361a"
title: "Gradient Descent Variants"
content: '''
  Gradient Descent Variants
  ===================
  
'''
tags: []
isStarred: false
createdAt: "2016-12-16T09:31:05.186Z"
updatedAt: "2016-12-16T09:32:22.329Z"
