type: "MARKDOWN_NOTE"
folder: "ac8a9db237258addf866"
title: "Notes for presentation"
content: '''
  Notes for presentation
  =================
  Hiện dần từng cái ở slide "For user"
'''
tags: []
isStarred: false
createdAt: "2016-12-11T13:00:41.137Z"
updatedAt: "2016-12-11T13:01:18.448Z"
