type: "MARKDOWN_NOTE"
folder: "79dbc9b08a0f14892d7f"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2016-11-28T17:52:22.441Z"
updatedAt: "2016-11-28T17:52:22.441Z"
