type: "MARKDOWN_NOTE"
folder: "ac8a9db237258addf866"
title: "Dec 06"
content: '''
  Dec 06
  =====================
  ## Ideas
  
  * Xac dinh kich thuoc parcel o tai anh cua Barcode
  * Phân tích xem, có thể có hy vọng giải quyết occlusion
  
  ## 
'''
tags: []
isStarred: false
createdAt: "2016-12-06T09:05:40.167Z"
updatedAt: "2016-12-06T17:36:17.656Z"
