type: "SNIPPET_NOTE"
folder: "79dbc9b08a0f14892d7f"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippet as a single note like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Hello World</h1>
      </body>
      </html>
    '''
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var html = document.getElementById('hello').innerHTML
      
      console.log(html)
    '''
  }
]
tags: []
isStarred: false
createdAt: "2016-11-28T17:52:22.465Z"
updatedAt: "2016-11-28T17:52:22.465Z"
