type: "MARKDOWN_NOTE"
folder: "ac8a9db237258addf866"
title: "December 02"
content: '''
  December 02
  ==========
  ## 1. Blob 3D Points and Distribution association
  
'''
tags: []
isStarred: false
createdAt: "2016-12-02T09:23:00.056Z"
updatedAt: "2016-12-02T09:23:45.887Z"
