type: "MARKDOWN_NOTE"
folder: "826861ea07f3ac433898"
title: "Time capsule"
content: '''
  Time capsule
  ==========
  1 cái lồng kính yên tĩnh để mọi người có thể làm việc bất kỳ đâu, không bị ảnh hưởng bởi môi trường xung quanh
'''
tags: []
isStarred: false
createdAt: "2016-12-03T10:39:42.981Z"
updatedAt: "2016-12-04T04:08:15.440Z"
