type: "MARKDOWN_NOTE"
folder: "8f1c4d04214a3102804c"
title: "HDF5 (Hierachical Data Format)"
content: '''
  HDF5 (Hierachical Data Format)
  =======
  
'''
tags: []
isStarred: false
createdAt: "2016-11-29T14:08:28.371Z"
updatedAt: "2016-11-29T14:11:51.416Z"
