type: "MARKDOWN_NOTE"
folder: "826861ea07f3ac433898"
title: "Build app to crop Image from scratch with ReactJS, Electron"
content: '''
  Build app to crop Image from scratch with ReactJS, Electron
  =======
  
  
'''
tags: []
isStarred: false
createdAt: "2016-11-29T10:11:23.201Z"
updatedAt: "2016-11-29T10:11:50.107Z"
