type: "MARKDOWN_NOTE"
folder: "ac8a9db237258addf866"
title: "Work on 28/11/2016"
content: '''
  # Work on 28/11/2016
  
  
  * Using gdb and gdb dashboard to debug C++
  
  ## 
'''
tags: []
isStarred: false
createdAt: "2016-11-28T17:56:08.282Z"
updatedAt: "2016-11-28T18:00:31.715Z"
